.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin: 8px auto 16px;
}

.error {
  color: rgb(146, 44, 44);
  font-weight: 600;
}
